.primary {
    -fx-background-color: #546e7a;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Nunito";
}

.mainLabel {
    -fx-text-fill: #ffffff;
}

.dark {
    -fx-background-color: #29434e;
}

.primaryButton {
    -fx-background-color:  #4f83cc;
    -jfx-button-style: RAISED;
}

.navbutton {
    -fx-text-fill: #ffffff;
}

.jfx-decorator {
    -fx-decorator-color: #2c3e50;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;

}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-background-color: -fx-decorator-color;
    -fx-border-width: 0 0 0 0;
}