.root {
    -fx-background-color: #2c3e50;
}

.mainLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 15pt;
}

.labelTitle {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 21pt;
}

.labelItalic {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #7f8c8d;
    -fx-font-style: italic;
    -fx-font-size: 15pt;
}

.regularButton {
    -fx-background-color: #2d3436;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 20pt;
    -fx-background-radius: 5px;
}

.primaryButton {
    -fx-border-radius: 5px;
    -fx-background-color: #2980b9;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18pt;
    -jfx-button-type: RAISED;
}

.secondaryButton {
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18pt;
    -jfx-button-type: RAISED;
}

.dangerButton {
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #c40000;
    -fx-font-size: 18pt;
    -jfx-button-type: RAISED;
}

.imageButton {
    -fx-background-color: #2d3436;
    -fx-font-size: 18pt;
    -fx-text-fill: transparent;
    -fx-background-radius: 20px;
}

.description {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13pt;
}

.jfx-time-picker, .jfx-date-picker {
    -jfx-default-color: #2980b9;
    -fx-background-color: transparent;
    -jfx-background-color: #000000
}

.jfx-text-field, .jfx-text-area, .jfx-combo-box {
    -jfx-focus-color: #2980b9;
    -jfx-unfocus-color: #ecf0f1;
    -fx-prompt-text-fill: #7f8c8d;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 12pt;
}

