/*
 *     Copyright © 2021 Mona Mahmoud Mousa
 *
 *      Authors (in alphabetical order):
 *      Ask Brandsnes Røsand
 *      Joakim Skogø Langvand
 *      Leonard Sandløkk Schiller
 *      Moaaz Bassam Yanes
 *      Mona Mahmoud Mousa
 *
 *     This file is part of Todolist.
 *
 *     Todolist is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     Todolist is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with Todolist.  If not, see <https://www.gnu.org/licenses/>.
 */

.background {
    -fx-background-color: #34495e;
}

.taskBackground {
    -fx-background-color: #1e272e;
}
.taskBackground:hover {
    -fx-background-color: #3B4856;
}

.button {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 17pt;
}

.imageButton {
    -fx-background-color: #2d3436;
    -fx-font-size: 18pt;
    -fx-text-fill: transparent;
    -fx-background-radius: 20px;

}

.titleLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 33pt;
}

.normalLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 17pt;
}

.jfx-list-view {
    -fx-background-color: #34495e;
    -jfx-expanded: false;
    -jfx-vertical-gap: 10;
    -fx-border-width: 1 1 1 1;
}

.jfx-list-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #212121, 20, 0, 0, 0);
    -jfx-rippler-radius: 20;
    -jfx-rippler-color: white;
}

.jfx-list-cell:focused {
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #212121, 20, 0, 0, 0);
    -jfx-rippler-radius: 0;
    -jfx-rippler-color: white;
}