.background {
    -fx-background-color: transparent;
}

.taskBackground {
    -fx-background-color: #1e272e;
}

.button {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 17pt;
}

.imageButton {
    -fx-background-color: #2d3436;
    -fx-font-size: 18pt;
    -fx-text-fill: transparent;
    -fx-background-radius: 20px;

}

.titleLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 33pt;
}

.normalLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Nunito";
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 17pt;
}

.jfx-list-view {
    -fx-background-color: #34495e;
    -jfx-expanded: true;
    -jfx-vertical-gap: 10;
    -fx-border-width: 1 1 1 1;
}

.jfx-list-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #212121, 20, 0, 0, 0);
    -jfx-rippler-radius: 20;
    -jfx-rippler-color: white;
}

.jfx-list-cell:focused {
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, #212121, 20, 0, 0, 0);
    -jfx-rippler-radius: 0;
    -jfx-rippler-color: white;
}